
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
   
   /* 版心 */
.w{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
}
a{
    color: black;
}
/* a:hover{
    color: black;
} */
.subhead:hover{
    color: black;
}

.header{
    width: 100%;
    height: 121px;
}
.top_header{
    width: 100%;
    height: 70px;
    position: relative;
    border-bottom: 1px solid #f5f5f8;
}
.top_container{
    width:1200px;
    margin: 0 auto;
    clear: both;
}
.logo{
    float: left;
    width: 90px;
    height: 69px;
    vertical-align: baseline;
}
.logo a{
    display: block;
}
.logo a img{
    width: 90px;
    height: 26px;
    margin: 21px auto;
}
.left-top_container{
    float: left;
    /* width: 620px; */
    height: 70px;
    margin-left: 50px;
    vertical-align: baseline;
}
.header_tags{
    /* width: 120px; */
    height: 70px;
    display: block;
    position: relative;
    float: left;
    line-height: 70px;
}
.headertags{
    height: 70px;
    display: block;
    position: relative;
    float: left;
    line-height: 70px;
}
.header_tags a{
    padding: 0 20px;
    font-size: 16px;
    margin: 0 auto;
}
.special_subhead{
    color: #e91e63;
    padding: 0 20px;
    font-size: 16px;
    margin: 0 auto;
    
}
.subhead{
    color:  #a0a0a0;
    display: table
}
.crown{
    /* margin-top: 5px; */
    vertical-align: sub;
}
/* .nav_container{
    width: 493px;
    height: 70px;
    margin-left: ;
} */
.right-top_container{
    float: right;
    width: 400px;
    height: 60px;
    /* background-color: rgb(23, 87, 146); */
    position: relative;
    vertical-align: baseline;
    padding-top: 15px;
    margin-right: 40px;
}
.ipt{
    height: 40px;
    /* width: 298px; */
    padding: 0 40px 0 22px;
    position: absolute;
    border-radius: 40px;
    border: 1px;
    overflow: hidden;
    background-color: #f2f2f2;
}

.input_search::after{
    content: '\e986';
    font-family: 'icomoon';
    font-size: 20px;
    /* position: absolute;
    padding: 6px 0 0 10px; */

}
.input_search:hover::after

{
    color: #e91e63;
}
.ipt input{
    line-height: 40px;
    width: 238px;
    height: 40px;
    background-color: #f2f2f2;
}
.dropdown{
    position: relative;
    display:inline-block ;
}
.dropdown_content{
    position: absolute;
    display: none;
    width: 300px;
    height: 390px;
    background-color: #fff;;
    top: 55px;
    z-index: 100;
}
.dropdown_content:hover{
    display: block;
} 
ul{
    margin-top: 0;
}
.dropdown_content P{
    height: 40px;
    width: 250px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 25px;
    overflow: hidden;
    margin-top: 14px;
}
.dropdown_content svg{
    float: left;
    margin: 12px 10px 0 0;
    
}
.dropdown_content span {
    color: #e91e63 ;
    font-size: 14px;
    float: left;
}
.ipt:hover + .dropdown_content{
    display: block;
}
.search_items{
    width: 250px;
    height: 34px;
    padding: 0 25px;
    line-height: 34px;
    overflow: hidden;
}
.search_figure{
    float: left;
    color: #e91e63;
    font-weight: bolder;
    font-size: 14px;
}
.search_items .search_figures {
    float: left;
    color: #333;
    font-weight: bolder;
    font-size: 14px;
}
.search_name{
    float: left;
    width: 160px;
    padding: 0 5px 0 15px;
    font-size: 14px;
    color: #333;
    display: block;
}
.search_name:hover{
    color: #e91e63;

}
.search_items .search_num{
    float: right;
    font-size: 14px;
    color: #333;
}

.input_search{
    width: 40px;
    height: 40px;
    position: absolute;
    line-height: 40px; 
    text-align: center;
    top: 0;
    right: 0;
}
.users_images{
    width: 40px;
    height: 40px;
    float: right;
    vertical-align: baseline;
}

.bottom_header{
    width: 100%;
    height: 50px;
    /* background-color: rgb(170, 51, 51); */
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
.bottom_container{
    width: 1200px;
    height: 50px;
    /* background-color: rgb(134, 218, 38); */
    margin: 0 auto;

}
.bottom_container ul{
    margin-left: 135px;
}
.bottom_container li{
    display: block;
    float: left;
    width: 78px;
    height: 50px;
    /* background-color: pink; */
}
.bottom_container li a{
    padding: 0 15px;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}
.red{
    color: #e91e63;
}
/* .bottom_container li a :nth-child(1){
    color: #e91e63;
} */
.picture_show{
    width: 100%;
    height: 350px;
    /* background-color: rgb(128, 18, 109); */
    /* border-top: 1px solid ; */
    position: relative;
    /* margin: 0 auto; */
}
.one{
    width: 1200px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* margin: 0 auto; */
    overflow: hidden;
    
}
.picture_show-contain{
    width: 8400px;
    height: 300px;
    margin: 28px auto 0 ;
    position: absolute;
    animation-name: name;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 2px solid;
}
/* .picture_show-container.one{
    width: 1200px;
    height: 300px;
    float: left;
} */
.picture_show-contain img{
    width: 1200px;
    height: 100%;
    float: left;
}
@keyframes  name{
    from{
        left: 0;
    }
    to{
        left: -7200px;
    }
}

/* .picture_show-container img{
    width: 1200px;
} */
.tagsbox{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top :28px;
    /* background-color: rgb(35, 124, 165); */
}
.tagsbox img{
    width: 198px;
    height: 80px;
    margin:  0 25px ;
    display:block;
    flex-flow: row nowrap;
}
.playlist{
    width: 100%;
    height: 495px;
    margin-top: 32px;
    /* background-color: rgb(11, 235, 104); */
    position: relative;
}
.songs_recommend{
    width: 1200px;
    height: 32px;
    /* background-color:red; */
    margin: 0 auto 30px;
    line-height: 32px;
    clear: both;
}
.tittle{
    width: 96px;
    height: 24px;
    display: block;
    float: left;
    font-size: 24px;
}
.gengduo{
    width: 60px;
    height: 27px;
    display: block;
    float: right;
    color: #999;
    font-size: 14px;
}
.gengduo:hover{
    color: #e91e63;
}
.gengduo::after{
    content: '\ea42';
    font-family: 'icomoon';
    font-size: 14px;
    vertical-align: middle;
}

.container{
    width: 1200px;
    height: 433px;
    margin: 0 auto;
    /* overflow: hidden; */
}
/* .main_container{
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    height: 433px;
} */
.left_containers{
    width: 248px; 
    height: 401px;
    background-color: rgb(96, 96, 224);
    /* float: left; */
    border-radius: 8px;
    position: absolute
}
.background_img{
    width: 100%;
    height: 100%;
    background:url(../images/gd_b_data.png) no-repeat;
    background-size: 100%;
    z-index:0 ;
}
.background_img img {
    width: 205px;
    height: 205px;
    margin: 90px 20px;
    

    z-index: 100;
}
.right_containers{
    width: 952px;
    height: 433px;
    /* background-color: green; */
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.items{
    width: 191px;
    height: 216px;
    display: block;
    
} 
.items_box{
    width: 159px;
    height: 192px;
    margin: 0 auto;
}
.img{
    width: 159px;
    height: 159px;
}
.items_explonation p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}
.xingesudi{
    width: 100%;
    height: 470px;
    margin-top: 40px;
    position: relative;
    
}
.top_newsongs{
    width: 1200px;
    height: 59px;
    margin: 0  auto;
}
.top_new{
    padding-top: 4px;
    height: 55px;
    width: 815px;
    line-height: 55px;
    position: absolute;
    padding-left: 385px;
}
.s_box{
    float: left;
    margin-right: 26px;
    font-size: 14px;
}
.huayu{
    color:#e91e63 ;
}
.other:hover{
    color:#e91e63;
}
.middle_newsongs{
    width: 100%;
    height: 411px;
    background-color: #f2f2f2;
}
.middle_newsongs .container{
    width: 1200px;
    height: 411px;
}
.wrapper_contain{
    position: relative;
    padding-left: 385px;
    height: 411px;
}
/* .wrapper_left{
    position: relative;
} */
.xinge{
    width: 335px;
    height: 495px;
    padding: 8px;
    top: -58px;
    left: 0;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
}
.jigsaw{
    padding: 8px;
    top: -58px;
    left: 0;
    box-sizing: border-box;
    position: absolute;
    width: 328px;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;

}
.play_all_songs{
    position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #fff;
    z-index: 1;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    left: 180px;
    bottom: 10px;
}
.play_all_songs a{
    color: #fff;
}
.jigsaw img{
    width: 50%;
    display: block;
}
.wraper_right{
    padding: 28px 0 5px; 
    height: 378px;
    display: flex;
    flex-wrap: wrap;
}
.songsgether{
    width: 363px;
    height: 80px; 
    padding: 0 22px;
    clear: both;
}
.songsgether img{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 8px;
}
.songs_explanation{
    width: 220.5px;
    height: 80px;
    float: left;
    position: relative;
}
.song_name{
    float: left;
    width: 220.5px;
    height: 30px;
    padding: 10px 0 0 20px ;
    font-size: 14px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.song_name a:hover{
    color: #e91e63;
}
.singer_name{
    width: 220.5px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left:20px ;
}
.singer_name a{
    color:  rgba(51,51,51,.4);
}
.singer_name a:hover{
    color: #e91e63
}
.songs_explanation span{
    position: absolute;
    top: 35px;
    right: 0;
}
.xindiesahngjia{
    width: 100%;
    height: 615px;
    /* background-color: pink; */
    margin-top: 88px;
}
.xindiesahngjia .container{
    width: 1200px;
    height: 553px;
    margin: 0 auto;
    /* background-color: skyblue; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}
.classes{
    width: 240px;
    height: 276px;
    position: relative;
}
.album_print{
    width: 217.4px;
    height: 183.4px;
    position: absolute;
    background: url(../images/album-cover.png)no-repeat;
    top: 0;
    left: 0;
    z-index: 0;
}
.before_print img{
    width: 183.4px;
    height: 183.4px;
    position: absolute;
    top: 0;
    left: 0;
}
.classes>.songs_explanation{
    margin: 175px -15px 0 ;
}
.paihangbang{
    width: 100%;
    height: 537px;
    margin-top: 65px;
}
.wrapper_back{
    width: 100%;
    height: 474px;
    background-color: #f2f2f2;
}
.wrapper_back_cntain{
    width: 1200px;
    height: 474px;
    /* background-color: pink; */
    margin: 0 auto;
    position: relative;
}
.left_box{
    width: 462px;
    height: 442px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

.player_lunbo{
    width: 462px;
    height: 213px;
    padding-top: 70px;
    /* background-color: rgb(20, 5, 105); */
    position: relative;
    overflow: hidden;
}
.xiaolunbo{
    width: 639px;
    height: 213px;
    position: absolute;
    text-align: center;
    border: 1px solid;
    top: 40px;
    left: 0;
    animation-name: name_1;
    animation-duration :5s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes name_1{
    from{
        left: 0;
    }
    to{
        left: -326px;
    }
}
.lunbo_1{
    float: left;
    height: 213px;
    width: 213px;
    background:url(../images/xingesudi2.jpg) no-repeat;
    background-size: 100% 100%;
}
.lunbo_2{
    float: left;
    height: 213px;
    width: 213px;
    background:url(../images/xingesudi2.jpg) no-repeat;
    background-size: 100% 100%;
}
.lunbo_3{
    float: left;
    height: 213px;
    width: 213px;
    background:url(../images/xingesudi2.jpg) no-repeat;
    background-size: 100% 100%;
}
.lunbo_1 img{
    height: 213px;
    width: 213px;
}
.lunbo_2 img{
    height: 213px;
    width: 213px;
}
.lunbo_3 img{
    height: 213px;
    width: 213px;
}
.xiaolunbo img{
    width: 213px;
    height: 213px;
}

.jianjiaoxingebang{
    width: 462px;
    height: 27px;
    margin: 20px auto 0;
    /* background-color: rgb(83, 30, 151); */
    text-align: center;
    display: block;
    font-size: 16px;
    color: #000;
}
.new_time{
    width: 462px;
    height: 13px;
    text-align: center;
    margin-top: 10px;
}
.left_box a:hover{
    color: #e91e63 ;
}
.bofangbangdan{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #000;
    text-align: center;
    line-height: 40px;
    margin: 20px auto;
    overflow: hidden;
}
.bofangbangdan p{
    font-weight: bold;
    color: #000;
    vertical-align: baseline;
    float: left;
}
.bofangbangdan .icon{
    float: left;
    vertical-align: baseline;
   margin: 12px 0 0 42px;
}
.right_box{
    width: 700px;
    height: 432px;
    position: absolute;
    top: 0;
    right: 0;
    
}
.right_box ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right_box li{
    width: 200px;
    height: 200px;
    background:url(../images/album-cover.png)no-repeat;
    background-size: 100% 100%;
    margin-bottom: 36px;
}
.right_box img{
    width: 180px;
    height: 200px;
}

.footer{
    width: 100%;
    height: 320px;
    background-color: #f2f2f2ff;
    margin-top: 100px;
}
.footer_container{
    width: 1200px;
    height: 280px;
    margin:0 auto;
    ;
}
.mod_serice{
    width: 1200px;
    height: 194px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
}
.service_box{
    width: 25%;
    height: 194px;
    padding:  30px 0 0 20px;
}
.service_box p{
    color: #000;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    
}

.little_mod a{
    margin: 10px 0;
    color: #666;
    display: block;
}
.little_mod a:hover{
    color:  #e91e63;
}
.migu{
    float: left;
    width: 100px;
    height: 132px;
    margin-right: 25px;
}
.code{
    width: 80px;
    height: 80px;

}
.mod_copright{
    width: 1200px;
    height: 87px;
}
.focus_way{
    width: 1200px;
    height: 69px;
    padding: 20px 0 0;
}
.focus_way img{
    height: 24px;
    width: 24px;
}
.copright ul li{
    float: left;
    margin-right: 10px;
}
.end{
    margin-left: 139px;
}
